body { font-family: Arial; background:#f4f6f8; }
.login-container {
  max-width: 350px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
}
input, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}
.dashboard .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
  gap: 16px;
}
.card {
  background: white;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
}


.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
